.gitignore
*~
build
bin
nbproject

cmake_install.cmake
CMakeCache.txt
CMakeFiles

*.h
.dia~
*.dia.autosave
src/__state.dia
src/_state.dia
src/state.dia.autosave
src/state.dia~

configure.bat
rm.bat

.vs
worms_game.sln
worms_game.vcxproj
worms_game.vcxproj.filters
worms_game.vcxproj.user
x64